PORT=3000
NODE_ENV=development
DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=app
DB_PASSWORD=app
DB_NAME=order_db
RABBITMQ_ENABLED=true
RABBITMQ_USER=app
RABBITMQ_PASSWORD=app
RABBITMQ_URL=amqp://app:app@localhost:5672
API_PORT=3000
MYSQL_PORT=3306
RABBITMQ_MANAGEMENT_PORT=15672
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=order_db
MYSQL_USER=app
MYSQL_PASSWORD=app
